# Setting drupal/web as the main location to host from
<VirtualHost *:8080>
    ServerName {{ drupal_url }}
    ServerAlias {{ drupal_previous_url }}
    ServerAlias {{ drupal_next_url }}
    RewriteEngine on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>

<VirtualHost *:8443>
    ServerName {{ drupal_url }}
    ServerAlias {{ drupal_previous_url }}
    ServerAlias {{ drupal_next_url }}

    DocumentRoot "/var/www/drupal/web"
    SSLEngine on
    SSLCertificateFile "/ssl/drupal.crt"
    SSLCertificateKeyFile "/ssl/drupal.key"
    SSLCertificateChainFile "/etc/pki/ca-trust/source/anchors/RH-IT-pki-validation-chain.pem"

    <Directory "/var/www/drupal/web">
        AllowOverride None
        Options Indexes FollowSymLinks
        Require all granted

        #
        # Include specific .htaccess to avoid directory scanning
        #
        Include "/var/www/drupal/.htaccess"

        <IfModule mod_headers.c>
            Header unset link
            Header unset x-drupal-cache
            Header unset x-drupal-cache-tags
            Header unset x-drupal-cache-contexts
            Header unset x-drupal-dynamic-cache
            Header unset x-generator
            Header unset x-powered-by
            Header unset x-ua-compatible
        </IfModule>
    </Directory>

    <Directory "/var/www/drupal/web/config/sync">
        AllowOverride None
        #
        # Include specific .htaccess to avoid directory scanning
        #
        Include "/var/www/drupal/web/config/sync/.htaccess"
    </Directory>

    <Directory "/var/www/drupal/web/sites/default/files">
        AllowOverride None
        Include "/var/www/drupal/.htaccess-files"
    </Directory>
</VirtualHost>